{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success" role="alert">
           {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

<div class="row row-cols-1 row-cols-md-2 g-2">

        {% for user in users %}

  <div class="col">
    <div class="card text-bg-light">
      <div class="card-body">

        <h5 class="card-title">{{ user.name }}
          {% if user.group != 'Admins' and user.id != 1 %}
         <a class="text-decoration-none" href="{{ url_for('main.set_admins_group_route', user_id=user.id) }}">
            <i title="Дать админку" class="mx-1 bi bi-person-check" style="color: green;"></i>
         </a>
        {% endif %}

            {% if user.group == 'Admins' and user.id != 1 %}
         <a class="text-decoration-none" href="{{ url_for('main.set_users_group_route', user_id=user.id) }}">
            <i title="Поставить в юзеры" class="mx-1 bi bi-person-exclamation" style="color: red;"></i>
         </a>
        {% endif %}

            {% if user.group != 'Admins' and user.group != 'admins' %}
         <a class="text-decoration-none" href="{{ url_for('main.delete_user_route', user_id=user.id) }}">
             <i title="Удалить юзера" class="mx-1 bi bi-trash" style="color: red;"></i>
         </a>

        {% endif %}

        </h5>

          <p class="card-text">ID: <b>{{ user.id }}</b>  Группа: <b>{{ user.group }}</b> </p>
      </div>
    </div>
  </div>

{% endfor %}
</div>

{% endblock %}